In [1]:
import pandas as pd
import plotly.express as px
from itables import show

In [33]:
file_location = '../Final_project/Main Data/2019.csv'
file_name = '../Final_project/Main Data/iceland_benefits.xlsx'
file_name2 = '../Final_project/Main Data/iceland_income_support.xlsx'
DF_inc = pd.read_excel(file_name2)
DF_ben = pd.read_excel(file_name)
DF = pd.read_csv(file_location)

In [43]:
DF.sort_values('Social support', ascending=False).tail(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
146,147,Haiti,3.597,0.323,0.688,0.449,0.026,0.419,0.110
118,119,Georgia,4.519,0.886,0.666,0.752,0.346,0.043,0.164
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091
138,139,Togo,4.085,0.275,0.572,0.410,0.293,0.177,0.085
149,150,Malawi,3.410,0.191,0.560,0.495,0.443,0.218,0.089
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
144,145,Burundi,3.775,0.046,0.447,0.380,0.220,0.176,0.180
101,102,Benin,4.883,0.393,0.437,0.397,0.349,0.175,0.082
148,149,Syria,3.462,0.619,0.378,0.440,0.013,0.331,0.141
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035

In [32]:
DF_ben = DF_ben.dropna()
DF_ben

,Funding of social security pension schemes and social assistance benefits 1975-2016,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
3,Social security pension,2016.0,84140,59332,24808,100,70.5,29.5
4,Social assistance benefits,2016.0,15411,.,15411,100,.,100

In [42]:
DF_inc.dropna()
DF_inc

,Recipients of municipal income support and average payments 1997-2022,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Number of homes,Thereof new recipient,"Income support expenditure, thousand ISK","Average monthly income support per home, ISK",Average number of months paid
2,2019,Total,5660,2722,4154434,160800,4.6
3,NaN,Capital region,4177,2131,3437099,170677,4.8
4,NaN,Reykjavík,3043,1667,2739922,178010,5.1
5,NaN,"Capital region, other",1134,464,697177,146898,4.2
6,NaN,Southwest,383,139,220568,136659,4.2
7,NaN,West,136,53,53032,98756,3.9
8,NaN,Westfjords,84,37,30483,105115,3.5
9,NaN,Northwest,63,26,41953,149832,4.4
10,NaN,Northeast,438,195,203249,137516,3.4
11,NaN,East,111,47,48426,106198,4.1
12,NaN,South,268,94,119624,114692,3.9
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Unit:,NaN,NaN,NaN,NaN,NaN,NaN
15,Thereof new recipient:,NaN,NaN,NaN,NaN,NaN,NaN
16,Fengu ekki greitt á fyrra ári,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Latest update:,NaN,NaN,NaN,NaN,NaN,NaN
20,20230628 09:00,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Source:,NaN,NaN,NaN,NaN,NaN,NaN
23,Statistics Iceland,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Copyright,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Units:,NaN,NaN,NaN,NaN,NaN,NaN
29,Number/ISK,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Internal reference code:,NaN,NaN,NaN,NaN,NaN,NaN
40,HEI09101,NaN,NaN,NaN,NaN,NaN,NaN