In [1]:
import pandas as pd
import plotly.express as px
from itables import show

In [54]:
file_location = '../Final_project/Main Data/2019.csv'
file_name = '../Final_project/Main Data/iceland_benefits.xlsx'
file_name2 = '../Final_project/Main Data/iceland_income_support.xlsx'
file_name3 = '../Final_project/Main Data/GDP%.xlsx'
DF_GDP = pd.read_excel(file_name3)
DF_inc = pd.read_excel(file_name2)
DF_ben = pd.read_excel(file_name)
DF = pd.read_csv(file_location)

In [43]:
DF.sort_values('Social support', ascending=False).tail(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
146,147,Haiti,3.597,0.323,0.688,0.449,0.026,0.419,0.110
118,119,Georgia,4.519,0.886,0.666,0.752,0.346,0.043,0.164
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091
138,139,Togo,4.085,0.275,0.572,0.410,0.293,0.177,0.085
149,150,Malawi,3.410,0.191,0.560,0.495,0.443,0.218,0.089
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
144,145,Burundi,3.775,0.046,0.447,0.380,0.220,0.176,0.180
101,102,Benin,4.883,0.393,0.437,0.397,0.349,0.175,0.082
148,149,Syria,3.462,0.619,0.378,0.440,0.013,0.331,0.141
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035

In [32]:
DF_ben = DF_ben.dropna()
DF_ben

,Funding of social security pension schemes and social assistance benefits 1975-2016,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
3,Social security pension,2016.0,84140,59332,24808,100,70.5,29.5
4,Social assistance benefits,2016.0,15411,.,15411,100,.,100

In [60]:
#DF_inc.dropna(how="all")
#DF_inc

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                   1960,             2015,             2016,             2017,
                   2018,             2019,             2020,             2021,
                   2022],
      dtype='object')

In [72]:
col = ['Country Name','Indicator Name',2019]
DF_GDP = DF_GDP[col][m]
m = DF_GDP[2019].notnull()
DF_GDP.sort_values(2019, ascending=False).tail(10)

,Country Name,Indicator Name,2019
2,Afghanistan,Domestic general government health expenditure...,0.497056
257,"Yemen, Rep.",Domestic general government health expenditure...,0.482473
169,Nigeria,Domestic general government health expenditure...,0.469804
260,Zimbabwe,Domestic general government health expenditure...,0.461151
82,Guinea-Bissau,Domestic general government health expenditure...,0.458780
19,Bangladesh,Domestic general government health expenditure...,0.446798
95,Haiti,Domestic general government health expenditure...,0.407457
39,Cameroon,Domestic general government health expenditure...,0.406872
17,Benin,Domestic general government health expenditure...,0.311468
208,"Somalia, Fed. Rep.",Domestic general government health expenditure...,0.119282